body {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

/* button styles */
button {
  background-size: cover;
  background-position: center;
  width:40%;
  height: 400px;
  cursor: pointer;
  border: 2px solid white;
  margin: 10px;
}
.panel img {
  border: 2px solid white;
}

/* hide and show panels */
.panel {
  display: none;
  overflow: auto;
}
.panel.active {
  display: block;
}

/* button backgrounds */
#blackwhitecat {
  background-image: url('https://media.giphy.com/media/8dTuHJeEMjxW8/giphy.gif');
}

#fluffy {
  background-image: url('https://media.giphy.com/media/JUhkyHE8n0zLy/giphy.gif');
}

#grey {
  background-image: url('https://media.giphy.com/media/5RmzKJ46wSCCA/giphy.gif');
}

#tortoiseshell {
  background-image: url('https://media.giphy.com/media/jlob27bSOoyHK/giphy.gif');
}

#ginger {
  background-image: url('https://media.giphy.com/media/Rn26lWjqA0uUU/giphy.gif');
}

#black {
  background-image: url('https://media.giphy.com/media/Tu1htsyzNU9qw/giphy.gif');
}

#siamese {
  background-image: url('https://media.giphy.com/media/TBATBEkySRHVe/giphy.gif');
}

#tabby {
  background-image: url('https://media.giphy.com/media/Gf54zTxt2QKru/giphy.gif');
}
