body {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

button {
  border-radius: 10px;
  border: 10px solid grey;
  width:50%;
  height: 200px;
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}

.tortoiseshell {
  background-image: url('https://media.giphy.com/media/jlob27bSOoyHK/giphy.gif');
  background-size: cover;
}
